@bg: #E6E9ED;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
body {
	margin: 0;
	background-color: @bg;
	font-family: "Lato", sans-serif;
}
img {
	max-width: 100%;
	height: auto;
	border: 5px solid #fff;
	cursor: pointer;
}
header {
	@color: #254d86;
	background-color: @color;
	h1, a {
		padding: 15px;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
	}
	h1 {
		float: left;
		margin: 0;
	}
	a {
		font-weight: 300;
		padding-left: 20px;
		padding-right: 20px;
		text-decoration: none;
		float: right;
		background-color: darken(@color, 10%);
	}
}
figure {
	width: (100% / 3);
	margin: 0;
	float: left;
	padding: 10px;
	position: relative;
	&:after {
		content: 'gif';
		text-transform: uppercase;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 11px;
		font-weight: 600;
		padding: 5px;
		border-radius: 3px;
		color: #656d78;
		background-color: fadeout(#fff, 50%);
	}
}
figcaption {
	margin-top: 15px;
	font-size: 14px;
	color: darken(@bg, 30%);
	a {
		color: darken(@bg, 50%);
		text-decoration: none;
	}
}
.demo-content {
	width: 960px;
	height: 300px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto; 
	transition: opacity 350ms;
}


// Pace.js
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29d;

  overflow: hidden;
}

.pace .pace-progress {
 
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}

.pace-running {
	.demo-content {
		opacity: 0.5;
	}
}